{{ 'chick_tadah.css' | asset_url | stylesheet_tag }}
 <!-- *********** chick_tadah ********* -->

    <section class="chick_tadah global_style">
      <h2 class="title_chick">‘Chick’ out what people are saying</h2>

      <div class="content_description_chick">
        <div class="description_chick">
          <div class="text_description_chick">
            "This feels really fresh like it was made a minute ago."
            <br />
            <span class="autor_description">- Daniel Lubetzky</span>
          </div>
          <div class="img_performance_content separator">
            <img
              src="/img/sharktank_logo 1.png"
              alt="sharktank_logo"
              class="performance_image"
            />
          </div>
        </div>
        <div class="description_chick">
          <div class="text_description_chick">
            Even if you’re far away from your favorite falafel stand, you can
            get your fix in a matter of minutes.”

            <br />
            <span class="autor_description">- Brian Kateman </span>
          </div>
          <div class="img_performance_content">
            <img
              src="/img/entrepreneur_logo 1.png"
              alt="entrepreneur_logo"
              class="performance_image"
            />
          </div>
        </div>
        <div class="description_chick">
          <div class="text_description_chick">
            “Over 25% of the business’s profits go to organizations that are
            actively engaged in social change”
            <br />
            <span class="autor_description">- S.M. Walsh</span>
          </div>
          <div class="img_performance_content">
            <img
              src="/img/heavy_logo 1.png"
              alt="heavy"
              class="performance_image"
            />
          </div>
        </div>
      </div>
    </section>

{% schema %}
  {
    "name": "Section Chick",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}