{{ 'chick_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** chick_tadah ********* -->

<section class="chick_tadah global_style">
  <h2 class="title_chick">{{ section.settings['title-chick'] }}</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="description_chick">
          <div class="text_description_chick">
            "This feels really fresh like it was made a minute ago."
            <br>
            <span class="autor_description">- Daniel Lubetzky</span>
          </div>
          <div class="img_performance_content separator">
            <img
              src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/sharktank_logo_1.png?v=1680892246"
              alt="entrepreneur_logo"
              class="performance_image"
            >
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="description_chick separator_chick">
          <div class="text_description_chick">
            Even if you’re far away from your favorite falafel stand, you can get your fix in a matter of minutes.”

            <br>
            <span class="autor_description">- Brian Kateman </span>
          </div>
          <div class="img_performance_content">
            <img
              src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/entrepreneur_logo_1.png?v=1680892245"
              alt="entrepreneur_logo"
              class="performance_image"
            >
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="description_chick">
          <div class="text_description_chick">
            “Over 25% of the business’s profits go to organizations that are actively engaged in social change”
            <br>
            <span class="autor_description">- S.M. Walsh</span>
          </div>
          <div class="img_performance_content">
            <img
              src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/heavy_logo_1.png?v=1680892248"
              alt="heavy"
              class="performance_image"
            >
          </div>
        </div>
      </div>
<!--       <div class="swiper-slide">
        <div class="description_chick">
          <div class="text_description_chick">
            “Over 25% of the business’s profits go to organizations that are actively engaged in social change”
            <br>
            <span class="autor_description">- S.M. Walsh</span>
          </div>
          <div class="img_performance_content">
            <img
              src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/heavy_logo_1.png?v=1680892248"
              alt="heavy"
              class="performance_image"
            >
          </div>
        </div>
      </div> -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

{% schema %}
{
  "name": "Section Chick",
  "settings": [
    {
      "type": "text",
      "id": "title-chick",
      "label": "Title"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
