 <!-- *********** variety_tadah ********* -->

    <section class="variety_tadah global_style">
      <div class="content_variety">
        <div class="item_variety_tadah">
          <img
            src="./img/Maskgroup.png"
            alt="image_variety"
            class="image_variety"
          />
        </div>
        <div class="item_variety_tadah">
          <h2 class="title_variety">Variety Pack</h2>
          <p class="text_variety">
            Sometimes you open the fridge for the fifth time in a row and find
            yourself staring into the abyss of your fully stocked shelves.
            You’re not bored, you’re just tired of eating boring food. You're
            also probably indecisive like us, which is why you should order ALL
            the flavors we have.
          </p>
          <a href="#" class="try_variety">Try the variety pack </a>
        </div>
      </div>
    </section>
{% schema %}
  {
    "name": "Section Variety",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}