    <!-- *********** hero_tadah ********* -->

    <section class="hero_tadah">
      <div class="content_tadah_hero">
        <h1 class="title_hero">
          Fresh Mediterranean street wraps falaFULL of flavor 
        </h1>
        <a href="#" class="try_hero">
          Try tadah!
        </a>
      </div>
      <div class="image_hero_tadah">
        <img src="/img/_wrap.png" alt="wrap" class="wrap_hero_img">
      </div>
      <div class="spicy_hero_image">
        <img src="/img/spicy-sweet-harissa-hummus 1.png" alt="spicy_image" class="spicy_image">
      </div>
      <a href="#" class="try_hero_mobile">
        Try the variety pack
      </a>
    </section>

{% schema %}
  {
    "name": "Hero",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}