  <!-- *********** experience_tadah ********* -->

    <section class="experience_tadah global_style">
      <div class="experience_content">
        <div class="item_experience_tadah">
          <a href="#" class="banner_experience">
            <img
              src="/img/lemon_garlic_hummus_img 1.png"
              alt="lemon_garlic_hummus_img"
              class="image_experience"
            />
          </a>
          <h3 class="title_experience">Lemon Garlic Hummus</h3>
          <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
        </div>
        <div class="item_experience_tadah">
          <a href="#" class="banner_experience">
            <img
              src="/img/caramelized_harissa_img 1.png"
              alt="lemon_garlic_hummus_img"
              class="image_experience"
            />
          </a>
          <h3 class="title_experience">Caramelized Harissa</h3>
          <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
        </div>
        <div class="item_experience_tadah">
          <a href="#" class="banner_experience">
            <img
              src="/img/garden_veggie_feta_img 1.png"
              alt="lemon_garlic_hummus_img"
              class="image_experience"
            />
          </a>
          <h3 class="title_experience">Garden Veggie Feta</h3>
          <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
        </div>
        <div class="item_experience_tadah">
          <a href="#" class="banner_experience">
            <img
              src="/img/spicedsweet_harissa_img 1.png"
              alt="lemon_garlic_hummus_img"
              class="image_experience"
            />
          </a>
          <h3 class="title_experience">Spiced-Sweet Harissa</h3>
          <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
        </div>
      </div>
    </section>

{% schema %}
  {
    "name": "Section Experience",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}