 <!-- *********** taste_tadah ********* -->

    <section class="taste_tadah global_style">
      <div class="taste_content">
        <h2 class="title_taste">Taste ALL the flavors.</h2>
        <p class="text_taste">
          We aim to make your tastebuds feel some type of way. Each wrap starts
          with our authentic freshly made falafel patty and is then smothered in
          one of our award winning spreads before being hand rolled in a soft
          chewy whole-wheat tortilla.
        </p>
      </div>
    </section>



{% schema %}
  {
    "name": "Section Taste",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}