{{ 'hero_tadah.css' | asset_url | stylesheet_tag }}
   <!-- *********** hero_tadah ********* -->

    <section class="hero_tadah">
      <div class="content_tadah_hero">
        <h1 class="title_hero">
          {{ section.settings.title-Hero }}
        </h1>
        <a href="#" class="try_hero">
         {{ section.settings.link }}
        </a>
      </div>
      <div class="image_hero_tadah">
        <img src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/wrap.png?v=1680892324" alt="wrap" class="wrap_hero_img">
      </div>
      <div class="spicy_hero_image">
        <img src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/spicy-sweet-harissa-hummus_1.png?v=1680892283" alt="spicy_image" class="spicy_image">
      </div>
      <a href="#" class="try_hero_mobile">
        {{ section.settings.link-mobile }}
      </a>
    </section>

{% schema %}
{
  "name": "Section Hero",
  "settings": [
    {
      "type": "text",
      "id": "title-Hero",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Name Link"
    },
    {
      "type": "text",
      "id": "link-mobile",
      "label": "Name Link Mobile"
    }
  ]
}
  {% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}