{{ 'experience_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** experience_tadah ********* -->

<section class="experience_tadah global_style">
  <div class="experience_content">
    {% for block in section.blocks %}
      <div class="item_experience_tadah">
        <a href="#" class="banner_experience">
          {{
            block.settings['flavor-experience']
            | image_url: width: number
            | image_tag: class: 'image_experience', loading: 'lazy'
          }}
        </a>
        <h3 class="title_experience">{{ block.settings['text-flavor'] }}</h3>
        <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Section Experience",
  "settings": [],
    "blocks" : [
 {
   "type":"slide",
   "name":"Slide Block",
   "settings" : [
     {
       "type" :"text",
       "id" : "text-flavor",
       "label" : "Title Flavor"
     },
    {
       "type" :"image_picker",
       "id" : "flavor-experience",
       "label" : "Image Flavor"
     }
   ]
 }
]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
