{{ 'footer_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** footer_tadah ********* -->

<footer class="footer_tadah">
  <div class="item_footer_tadah">
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Left_Image.png?v=1680892279"
      alt="image_left"
      class="image_left"
    >
  </div>
  <div class="item_footer_tadah">
    <h2 class="title_footer">
      {{ section.settings['title-footer'] }}
    </h2>
    <a href="#" class="try_footer">TRY THE VARIETY PACK</a>
    <div class="social_network">
      <a href="{{ section.settings.url-social-media }}" class="facebook_footer">
        {{ block.settings['icon-media'] | image_url: width: number | image_tag: class: 'facebook', loading: 'lazy' }}
        <!--
          <img
            src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/fb_icon_1230979e-1aec-4f88-8cfe-e62d95a5342e.png?v=1680892248"
            alt="facebook"
            class="facebook"
          >
        -->
      </a>
      <!--
        <a href="#" class="instagram_footer">
          <img
            src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/ig_icon_b38d1a15-cd62-478b-882d-b0918e718d89.png?v=1680892249"
            alt="instagram"
            class="instagram"
          >
        </a>
      -->
    </div>
    <div class="link_content_footer">
      <a href="#" class="link_footer">HOME</a>
      <a href="#" class="link_footer">OUR STORY</a>
      <a href="#" class="link_footer">SHOP</a>
      <a href="#" class="link_footer">CONTACT</a>
    </div>
    <p class="copy">©2022 TaDah Foods All rights reserved.</p>
  </div>
  <div class="item_footer_tadah">
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Right_Image.png?v=1680892274"
      alt="image_rigth"
      class="image_rigth"
    >
  </div>
  <div class="footer_tadah_mobile">
    <div class="item_footer_tadah_mobile">
      <img
        src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Left_Image.png?v=1680892279"
        alt="image_left"
        class="image_left"
      >
    </div>
    <div class="item_footer_tadah_mobile">
      <img
        src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Right_Image.png?v=1680892274"
        alt="image_rigth"
        class="image_rigth"
      >
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
    "type": "text",
    "id": "title-footer",
    "label": "Title Footer"
    }
  ],
  "blocks" :[
    {
       "type":"slide",
       "name":"Social Network",
       "settings" : [
          {
          "type": "url",
          "id": "url-social-media",
          "label": "Url Social Media"
          },
          {
            "type" : "image_picker",
            "id" : "icon-media",
            "label" : "Icon Social Media"
          }
       ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
