{{ 'footer_tadah.css' | asset_url | stylesheet_tag }}
 <!-- *********** footer_tadah ********* -->

 <footer class="footer_tadah">
  <div class="item_footer_tadah">
      <img src="/img/Left Image.png" alt="image_left" class="image_left">
  </div>
  <div class="item_footer_tadah">
      <h2 class="title_footer">
          FalaFULL of flavor
      </h2>
      <a href="#" class="try_footer">TRY THE VARIETY PACK</a>
      <div class="social_network">
          <a href="#" class="facebook_footer">
              <img src="/img/fb_icon.png" alt="facebook" class="facebook">
          </a>
          <a href="#" class="instagram_footer">
              <img src="/img/ig_icon.png" alt="instagram" class="instagram">
          </a>
      </div>
      <div class="link_content_footer">
          <a href="" class="link_footer">HOME</a>
          <a href="" class="link_footer">OUR STORY</a>
          <a href="" class="link_footer">SHOP</a>
          <a href="" class="link_footer">CONTACT</a>
      </div>
      <p class="copy">
          ©2022 TaDah Foods All rights reserved.
      </p>
  </div>
  <div class="item_footer_tadah">
      <img src="/img/Right Image.png" alt="image_rigth" class="image_rigth">
  </div>
  <div class="footer_tadah_mobile">
      <div class="item_footer_tadah_mobile">
          <img src="/img/Left Image.png" alt="image_left" class="image_left">
      </div>
       <div class="item_footer_tadah_mobile">
          <img src="/img/Right Image.png" alt="image_rigth" class="image_rigth">
      </div>
  </div>

</footer>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}