<!-- *********** fresh_tadah ********* -->

    <section class="fresh_tadah global_style">
      <div class="content_fresh">
        <div class="item_fresh_tadah">
          <img src="./img/image5.png" alt="image_fresh" class="image_fresh" />
        </div>
        <div class="item_fresh_tadah">
          <h2 class="title_fresh">A fresh look at an ancient food</h2>
          <p class="text_fresh">
            Bring the freshness of a East Mediterranean classic, falafel, into
            your kitchen. Our convenient falafel street wraps are filled with
            honest ingredients, made from ancient recipes, prepared fresh,
            packed carefully, and sent straight to your door. Transport your
            taste buds to where these flavors all began. Let’s party like it's
            thirteen ninety-nine!
          </p>
        </div>
      </div>
    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}