{{ 'experience_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** experience_tadah ********* -->

<section class="experience_tadah global_style">
  <div class="experience_content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'slide' %}
        <div class="item_experience_tadah" {{ block.shopify_attributes }}>
          {{ block.settings.image | image_url: width: 2048 | image_tag }}
        </div>
    {% endcase %}
  {% endfor %}
    <div class="item_experience_tadah">
      <a href="#" class="banner_experience">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/lemon_garlic_hummus_img_1.png?v=1680892271"
          alt="lemon_garlic_hummus_img"
          class="image_experience"
        >
      </a>
      <h3 class="title_experience">Lemon Garlic Hummus</h3>
      <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
    </div>
    <div class="item_experience_tadah">
      <a href="#" class="banner_experience">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/caramelized_harissa_img_1.png?v=1680892273"
          alt="lemon_garlic_hummus_img"
          class="image_experience"
        >
      </a>
      <h3 class="title_experience">Caramelized Harissa</h3>
      <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
    </div>
    <div class="item_experience_tadah">
      <a href="#" class="banner_experience">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/garden_veggie_feta_img_1.png?v=1680892273"
          alt="lemon_garlic_hummus_img"
          class="image_experience"
        >
      </a>
      <h3 class="title_experience">Garden Veggie Feta</h3>
      <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
    </div>
    <div class="item_experience_tadah">
      <a href="#" class="banner_experience">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/spicedsweet_harissa_img_1.png?v=1680892271"
          alt="lemon_garlic_hummus_img"
          class="image_experience"
        >
      </a>
      <h3 class="title_experience">Spiced-Sweet Harissa</h3>
      <a href="#" class="link_experience">EXPERIENCE THE FLAVOR</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
