{{ 'tasty_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** tasty_tadah ********* -->

<section class="tasty_tadah global_style">
  <h2 class="title_tasty">{{ section.settings.title }}</h2>
  <div class="stars_content_tasty">
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Star1.png?v=1680892247"
      alt="Star1"
      class="stars_items"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Star1.png?v=1680892247"
      alt="Star1"
      class="stars_items"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Star1.png?v=1680892247"
      alt="Star1"
      class="stars_items"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Star1.png?v=1680892247"
      alt="Star1"
      class="stars_items"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Star1.png?v=1680892247"
      alt="Star1"
      class="stars_items"
    >
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

  <!-- Swiper -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo1.png?v=1680892247"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and
          healthy wraps!
          <br>
          <strong>Uriel Felipe Munar - Miami, FL</strong>
        </div>
      </div>
      <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo2.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So
          delicious!
          <br>
          <strong>Joanne Yildirim - Los Angeles, CA</strong>
        </div>
      </div>
      <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo3.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          <br>
          <strong>Sharon Ferrara Kiefer - Detroit, Ml</strong>
        </div>
      </div>
            <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo3.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          <br>
          <strong>Sharon Ferrara Kiefer - Detroit, Ml</strong>
        </div>
      </div>
            <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo3.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          <br>
          <strong>Sharon Ferrara Kiefer - Detroit, Ml</strong>
        </div>
      </div>
            <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo3.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          <br>
          <strong>Sharon Ferrara Kiefer - Detroit, Ml</strong>
        </div>
      </div>
            <div class="swiper-slide description_tasty">
        <img
          src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/red_halo3.png?v=1680892248"
          alt="halo_img"
          class="aura_tasty"
        >
        <div class="text_description_tasty">
          So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          <br>
          <strong>Sharon Ferrara Kiefer - Detroit, Ml</strong>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>

{% schema %}
{
  "name": "Section Tasty",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
