{{ 'taste_tadah.css' | asset_url | stylesheet_tag }}
 <!-- *********** taste_tadah ********* -->

    <section class="taste_tadah global_style">
      <div class="taste_content">
        <h2 class="title_taste">{{ section.settings.title-Taste }}</h2>
        <p class="text_taste">
            {{ section.settings.text-taste }}
        </p>
      </div>
    </section>



{% schema %}
{
  "name": "Section Taste",
  "settings": [
    {
      "type": "text",
      "id": "title-Taste",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text-taste",
      "label": "Text"
    }
  ]
}
  {% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}