.chick_tadah{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    overflow: hidden;
    background-image: url(https://cdn.shopify.com/s/files/1/0746/6408/3772/files/wood_bg_1_1.png?v=1680892362);
    padding: 107px 10px 78px;
}

.chick_tadah .title_chick{  
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: #F47D34;
} 
.chick_tadah .text_description_chick{
    font-size: 25px;
    font-weight: 400;
    line-height: 36.57px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.chick_tadah .content_description_chick{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.chick_tadah .description_chick{
    min-width: 386px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chick_tadah .description_chick:nth-child(2){
    padding: 0 50px;
}

.chick_tadah .autor_description{
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.chick_tadah .separator{
    margin-top: 20px;
}
.chick_tadah .swiper-wrapper{
  justify-content: center !important;

}
.chick_tadah .swiper {
    width: 100%;
    height: 300px !important;
  }

.chick_tadah .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.chick_tadah .swiper-pagination-bullet-active {
  background-color: #E07007 !important;
}
@media (max-width: 490px) {
    .chick_tadah .title_chick{
        padding: 0 8px;
    }

    .chick_tadah .description_chick:nth-child(2){
        padding: 0 25px;
    }
}