.fresh_tadah{
    padding-top: 53px;
}

.fresh_tadah .content_fresh{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.fresh_tadah .item_fresh_tadah{
    max-width: 50%;
}
.fresh_tadah .item_fresh_tadah{
    background-image: url(/img/Vector9.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.fresh_tadah .image_fresh{
    max-width: 100%;
}
.fresh_tadah .title_fresh, .fresh_tadah .text_fresh{
    color: #000000;
    margin: auto;
    max-width: 72%;
}

.fresh_tadah .title_fresh{
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 85px;
}

.fresh_tadah .text_fresh{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 29 px;
}

@media (max-width: 1140px) {
    .fresh_tadah .content_fresh{ 
        flex-direction: column;
    }
    .fresh_tadah .item_fresh_tadah{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .fresh_tadah .image_fresh{
        max-width: none;
        object-fit: cover;
        width: 100%;
        
    }
    .fresh_tadah .title_fresh, .fresh_tadah .text_fresh{
        max-width: 90%;
        text-align: center;
        margin: auto;
    }
    .fresh_tadah .title_fresh{
        margin-top: 49px;
    }
    .fresh_tadah .text_fresh{
        margin-top: 20px;
    }
}

@media (max-width: 490px) {
    .fresh_tadah .title_fresh{
        line-height: 36.57px;
        font-size: 30px;
    }
}