.high_tadah {
    min-height: 2009px;
}
.high_tadah .item_high_content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}
.high_tadah .banner_high,
.high_tadah .banner_high_2,
.high_tadah .banner_mobile_shark,
.high_tadah .banner_high_3{
    min-width: 50%;
    min-height: 685px;
}

.high_tadah .banner_mobile_shark{
    display: none;
}

.high_tadah .vaggie_high_image{
    object-fit: cover;
    min-width: 100%;
}
.high_tadah .banner_high:nth-child(1){
    background-color: #72CEE8;
}
.high_tadah .banner_high:nth-child(2){
    background-color: #E12843;
}
.high_tadah .banner_high:nth-child(2), .high_tadah .banner_high_2:nth-child(1), .high_tadah .banner_high_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.high_tadah .title_banner_high,
.high_tadah .text_banner_high, 
.high_tadah .text_mobile_high, 
.high_tadah .title_mobile_high{
    color: #fff;
}
.high_tadah .title_banner_high{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}
.high_tadah .text_mobile_high, 
.high_tadah .title_mobile_high, 
.high_tadah .logo_mobile_bagde{
    display: none;
}
.high_tadah .text_banner_high, 
.high_tadah .text_mobile_high{
    max-width: 443px;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.high_tadah .banner_high_2:nth-child(1){
    background-color: #F47D34;
}
.high_tadah .banner_high_2:nth-child(2){
    background-image: url(https://cdn.shopify.com/s/files/1/0746/6408/3772/files/protein_badge_img_1.png?v=1680892247);
    background-color: #F7D633;
    background-repeat: no-repeat;
    background-position: 80% 20%;
} 

.high_tadah .banner_img_high{
    display: flex;
    margin: 35% auto 0;
    max-width: 100%;
}

.high_tadah .banner_high_3:nth-child(2){
    background-color: #E12843;
}

.high_tadah .banner_high_3:nth-child(3){
    background-image: url("https://cdn.shopify.com/s/files/1/0746/6408/3772/files/wood_bg1.png?v=1680892325");
}

@media (max-width: 980px ) {
    .high_tadah .item_high_content{
        flex-direction: column;
    }
    .high_tadah .banner_high,
    .high_tadah .banner_high_2,
    .high_tadah .banner_mobile_shark,
    .high_tadah .banner_high_3{
        min-width: 100%;
        min-height: 406px;
        overflow: hidden;
    }
    .high_tadah .banner_high_2:nth-child(1){
        order: 2;
    }
    
}

@media (max-width: 580px) {
    .high_tadah .banner_img_high{
        max-width: 312.68px;
    }
    .high_tadah .vaggie_high_image{
        max-height: 490px;
    }
    .high_tadah .text_mobile_high, .high_tadah .title_mobile_high{
        display: block;
    }
    .high_tadah .text_none, .high_tadah .banner_high_3:nth-child(2){
        display: none;
    }
    .high_tadah .banner_mobile_shark{
        display: flex;
        max-height: 380px;
    }
    .high_tadah .sharktank_img{
        min-height: 380px;
    }
    .high_tadah .logo_mobile_bagde{
        display: flex;
        margin-top: 28px;
        margin-bottom: 35px;
    }
    .high_tadah .change{
        margin-top: 33px;
        margin-bottom: 16px;
        max-width: 256px;
    }
}