/* line_colors */

.nav_tadah .line_colors{
    display: flex;
    justify-content: space-between;
}

.nav_tadah .item_line_colors{
    min-width: 25%;
    min-height: 12.54px;
    display: block;
}
.nav_tadah .item_line_colors:nth-child(1){
    background-color: #F7D633;    
}
.nav_tadah .item_line_colors:nth-child(2){
    background-color: #E12843;
}
.nav_tadah .item_line_colors:nth-child(3){
    background-color: #72CEE8;
}
.nav_tadah .item_line_colors:nth-child(4){
    background-color: #F47D34;
}

/* navBar */

.nav_tadah .nav_bar_tadah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25.46px 123px 30px;
}
.nav_tadah .content_logo_tadah{
    max-width: 183.32px;
}
.nav_tadah .logo_tadah{
    max-width: 100%;
}

.nav_tadah .content_links{
    margin-left: -30px;
}

.nav_tadah .links_tadah{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E190F;
}

.nav_tadah .car_shop{
    margin-left: 72.36px;
    min-height: 57.54px;
    display: inline-flex;
    align-items: center;
}
.nav_tadah .car_shop_svg{
    max-width: 100%;

}

.nav_tadah .burguer_content{
    display: none;
}

.mobile_nav_bar{
    display: none;
}
@media (max-width: 980px) {
    .nav_tadah .nav_bar_tadah{
        padding: 25.46px 20px 30px;
    }
    .nav_tadah .content_logo_tadah{
        max-width: 101px;
    }
    .nav_tadah .links_tadah{
        display: none;
    }
    .nav_tadah .car_shop{
        margin-left: 0;
    }
    .nav_tadah .car_shop::after{
        content: "";
        display: inline-block;
        min-height: 26px;
        min-width: 2px;
        background-color: #000;
        margin: 0 12px;
    }
    .nav_tadah .burguer_content{
        display: inline;
        cursor: pointer;
    }
    .nav_tadah .burguer_mobile{
        margin-bottom: 2px;
    }
    .mobile_nav_bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        min-width: 100%;
        background-color: #F47D34;
        position: absolute;
        left: -100%;
        z-index: 100;
    }
    .mobile_nav_bar .links_tadah_mobile{
        color: #fff;
        margin-top: 30px;
    }
    .mobile_nav_bar .equis_nav{
        max-width: 70px;
        min-height: 70px;
        border-radius: 50%;
        margin-top: 50px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile_nav_bar .equis_nav:hover{
       background-color: #fd9859;
       transition: all .6s;
        
    }

    .mobile_nav_bar .equis_close{
        max-width: 80%;
        margin-top: 3px;
    }
    .mobile_nav_bar_active{
        left: 0;
        transition: all .5s;
    }
}