*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.global_style{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
  opacity: .8;
}