*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

.global_style{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
  background-color: #E12843;
  color: #fff;
  transition: all .8s;
}